body {
    font-family: Arial, sans-serif;
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(216, 213, 213);
    height: 100dvh;
    width: 100dvw;
    margin: 0px;
    
}
.menu{
    background-color: #707573;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 20vw;
    height: 90%;
    margin: 10px;
    margin-left: 10px;
    border: 5px solid #302ea5;
    
}

h1{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
}

.reader-container {
    background-color: #707573;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 70vw;
    height: 90%;
    margin: 10px;
    margin-right: 25px;
    border: 5px solid #302ea5;
    display: inline;
}

.reader-container h1, .result h1{
    display: flex;
    justify-content: left;
    margin-left: 30px;
}
.reader-container form {
    display: inline-block;
    margin-left: 75px;
    
}

.button-menu-container button {
  width: 100%;
  padding: 10px;
  background-color: #302ea5;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}

.button-reader{
    margin-top: 30px;
    margin-left: 30px;
}
.br{
   width: 200px;
  padding: 10px;
  background-color: #302ea5;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 30px;
}
.read_text{
    font-size: 20px;
    margin: 30px;
    width: 70%;
    height: 250px;
    overflow: auto;
}

.user_table {
    width: 80%;
    max-width: 70%;
    overflow: auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: 100px;
}

.user_table th,
.user_table td {
    padding: 12px 15px;
    border: 1px solid #ccc;
    text-align: left;
}

.user_table thead {
    background-color: #302ea5;
    color: white;
}

.user_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

iframe {
    margin-left: 100px;
    height: 80%;
    width: 70%;
}