<!DOCTYPE html>
<html lang="en">
<head> {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Menu</title>
    <link rel="stylesheet" href="{% static 'css/tutor.css' %}">
</head>
<body>
    <div class="menu">
        <div class="tex-menu-container">
            <h1>Bienvenido Tutor</h1>
            <h1>{{ name }}</h1> 
        </div>
        <div class="button-menu-container" >
            <form  method="get" action="{% url 'homeAdmin' %}">
                <button name="load_button" type="submit">Cargar horario</button>
            </form>

            <form  method="post" action="{% url 'notesT' %}"> <!--provisional-->
                {% csrf_token %}
                <button name="user_button" type="submit">cargar notas</button>
            </form>
            <form  method="get" action="{% url 'promedy' %}"> <!--provisional-->
                {% csrf_token %}
                <button name="user_button" type="submit">Ver Promedio</button>
            </form>
            <form  method="get" action="{% url 'top' %}"> <!--provisional-->
                {% csrf_token %}
                <button name="user_button" type="submit">top notas</button>
            </form>
            <form action="{% url 'login' %}" method="get">
                {% csrf_token %}
                <button type="submit">Salir</button>
            </form>
        </div>
    </div>
    
    <div class="reader-container"><!--empieza-->

            
        
        {% if data %}
            <h1>Carga de horarios</h1>
            <form method="post" enctype="multipart/form-data" action="{% url 'times' %}">
                {% csrf_token %}
                <div class="button-reader">
                    <input type="file" name="xml_file" accept=".xml" required>
                    <button class="br" type="submit" name="rad_button">Procesar</button>
                </div>
            </form>

        <table class="user_table">
            <thead>
                <tr>
                    <th></th>
                    <th>LUNES</th>
                    <th>MARTES</th>
                    <th>MIERCOLES</th>
                    <th>JUEVES</th>
                    <th>VIERNES</th>
                </tr>
            </thead>
            <tbody>    
                {% for item in data.times %}
                    <tr>
                        <td>{{ item.code }} - {{ item.name }}</td>
                        {% for _ in "12345" %}
                            <td>{{ item.start }} - {{ item.end }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% elif k %}
            <h1>Carga de notas</h1> 
            <form method="post" enctype="multipart/form-data" action="{% url 'notesT' %}">
                {% csrf_token %}
                <div class="button-reader">
                    <input type="file" name="xml_file" accept=".xml" required>
                    <button class="br" type="submit" name="rad_button">Procesar</button>
                </div>
            </form>
            <h1>{{k}}</h1>
        {% elif s %}
            <h1>Promedio de actividades</h1>
            <h2>Cursos con notas subidas:</h2>
            <form method="post" action="{% url 'promedy' %}">
                {% csrf_token %}
            <select name="course" id="combo-actividades">
                {% for curso in courses %}
                    <option value="{{ curso }}">{{ curso }}</option>
                {% endfor %}
            </select>
                <button class="br" type="submit">Revisar</button>
            </form>

              <h1>Curso: {{s}}</h1>
              <div class="frame">
                {% if s == " " %}
                <h1> </h1>
                {% else %}
                {{ grafic_html|safe }}
                {% endif %}
              </div>
        {% elif r %}
            <h1>Top de notas de Cursos</h1>
            <h2>Cursos:</h2>
            <form method="post" action="{% url 'top' %}">
                {% csrf_token %}
            <select name="course" id="combo-actividades">
                {% for c in courses %}
                    <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>
                <button class="br" type="submit">Revisar</button>
            </form>
        {% elif w%}
            <h1>{{w}}</h1>
            {% if q %}
                <h1> Actividad: {{q}}</h1>
            {% endif %}   
            <form method="post" action="{% url 'test' %}">
                {% csrf_token %}
            <select name="activity" id="combo-actividades">
                {% for act in acts %}
                    <option value="{{ act }}">{{ act }}</option>
                {% endfor %}
            </select>
                <button class="br" type="submit">Revisar</button>
            </form>
            <div class="frame">
            {% if w == " " %}
                <h1> </h1>
            {% else %}
                {{ grafic_html|safe }}
            {% endif %}
            </div>
        
        
        {% endif %}

        

        

        
    </div> <!--termina-->
</body>
</html>